#p-about {
    color: black;
    background-color: violet;
    border-radius: 10px;
}

#description{
    color: white;
    padding-top: 25px;
    padding-bottom: 100px;
    background-color: violet;
}