.welcome{
    text-align: center;
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
}
#kol{
    text-align: center;
}

.intro{
    color: black;
    background-color: #839abb;
    padding-bottom: 300px;
    padding-top: 10px;
    font-family: monospace;
}

.flex-container{
    padding: 0;
    margin: 0;

    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    background-color: lightcyan;
    width: 100%;
}

.flex-container li {
    background-color: lightcyan;
    height: 270px;
    width: 289px;
    margin-bottom: 175px;
}

.flex-container li img{
    opacity: 0.1;
    box-shadow: 10px 10px rgba(0,0,0, .25);
    height: 250px;
    width: 270px;
}

.flex-container li img:hover{
    box-shadow: 20px 20px rgba(0,0,0, .15);
    opacity: 1.0;
}

#p-home {
    color: white;
    background-color: #839abb;
}
