.welcome{
    text-align: center;
    color: cornsilk;
    font-family: 'Times New Roman', Times, serif;
}
#kol{
    color: lightcyan;
    text-align: center;
    font-family: monospace;
}

.title-card{
    color: black;
    background-color: #839abb;
    padding-bottom: 300px;
    padding-top: 10px;
    font-family: monospace;
}

.flex-container{
    padding: 0;
    margin: 0;

    height: 150px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
    background-color: lightcyan;
    width: 100%;
}

.flex-container li {
    background-color: lightcyan;
    text-align: center;
    box-shadow: 2px 2px 2px 2px rgba(0,0,0, .25);
    height: 270px;
    width: 290px;
    margin-bottom: 175px;
}

.flex-container li img{
    height: 250px;
    width: 270px;
}

#p-home {
    color: white;
    background-color: #839abb;
}
#intro{
    margin-top: 175px;
    background-color: lightcyan;
    padding: 25px;
}