html {
    background-color: #839abb;
}

body{
    margin: 0;
    padding: 0;
}

.navi {
    background-color: lightcyan;
    width: 100%
}

.standard-text{
    color: black;
    font-size: 17px;
}

.menu {
    position: sticky;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightcyan;
    border: solid 5px lightcyan;
    box-shadow: 1px 3px rgba(0, 0, 0, 0.2);
}

.menu li {
    float: left;
}

.menu li a {
    display: block;
    color: black;
    padding: 14px 16px;
    height: 14px;
    text-align: center;
    text-decoration: none;
}

.menu li a:hover {
    color: white;
    background-color: #839abb;
}