<!DOCTYPE html>
<html>
    <title>HOME</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/interaction/interactive.js"></script>
    <head>
        
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <div class="intro">
            <h2 id="kol">Kol Wilcox</h2
            <p class="standard-text">and I've been an artist/graphic designer for XX years. I love to challenge myself with different mediums.</p>
        </div>
        <div>
            <ul class="flex-container">
                <li><img src="{{url_for('static', filename='/imgs/landman-rodi-avatar.jpg')}}" alt="4b-dev"></li>
                <li><img src="{{url_for('static', filename='/imgs/river.png')}}" alt="gunz"></li>
            </ul>
        </div>

        {% endblock %}
    </body>
</html>