<!DOCTYPE html>
<html>
    <title>HOME</title>
    <link rel="stylesheet" href="/static/css/home.css">
    <script src="/static/interaction/interactive.js"></script>
    <head>
        
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <div class="title-card">
            <h1 id="kol">Kol Wilcox</h1>
        </div>

        <div>
            <ul class="flex-container">
                <li><img src="{{url_for('static', filename='/imgs/landman-rodi-avatar.jpg')}}" alt="4b-dev"></li>
                <li><img src="{{url_for('static', filename='/imgs/river.png')}}" alt="gunz"></li>
            </ul>
        </div>

        <div id="intro">
            <p class="standard-text">I'm a graphic designer and artist of XX years Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, animi consequuntur assumenda delectus iure nihil. Optio quis, consequatur quo tenetur officia, culpa earum obcaecati illum eveniet saepe repellat corporis odit!</p>
        </div>
        {% endblock %}
    </body>
</html>